<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .red {
            background-color: red;
        }
        
        .green {
            background-color: green;
        }
        
        .icon {
            width: 100px;
            height: 100px;
        }
    </style>
    <script src="angular.min.js"></script>
</head>

<body ng-app>

    <input type="checkbox" ng-model="tick">Show Hide {{tick}}
    <h1 ng-class="{ 'red':price<5000, 'green':price>=5000}">Class Demo</h1>
    <div ng-show="tick">
        <input ng-init="price=0" type="text" placeholder="Type Price" ng-model="price"> Price is {{price|currency:'&#8377'}}
    </div>
    <input ng-model="firstname" type="text" placeholder="Type First Name Here"> First name is {{firstname|uppercase}}
    <br>
    <input type="text" ng-model="lastname" placeholder="Type Last Name Here"> {{lastname|lowercase}}
    <hr>
    <select ng-model="limit">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <select ng-model="sort">
        <option value="price">Sort by Price</option>
        <option value="name">Sort by Name</option>
    </select> Sort Value is {{sort}}
    <input type="checkbox" ng-model="rev">
    <input type="text" ng-model="mysearch.price" placeholder="Type to Search">
    <ul ng-init='al={"mobiles":[{"id":1001,"name":"Samsung Mobile","price":30000,"url":"http://c2c.sulekhalive.com/lcproducts/mobiles/images/samsung/album/large/samsung-z3(2).jpg"},{"id":1002,"name":"Apple Mobile","price":40000,"url":"https://4.imimg.com/data4/LY/WP/GLADMIN-8934545/apple-mobiles-500x500.jpg"},{"id":1003,"name":"Lg Mobile","price":20000,"url":"http://www.lg.com/uk/images/mobile-phones/MD05609550/stylus-350.jpg"},{"id":1004,"name":"MI Mobile","price":10000,"url":"https://www.91-img.com/pictures/xiaomi-mi-5s-mobile-phone-large-1.jpg"}]}'>
        <li ng-repeat="a in al.mobiles|filter:mysearch|orderBy:sort:rev|limitTo:limit">
            {{a.name}} <img class="icon" ng-src="{{a.url}}"> {{a.price}}
        </li>
    </ul>

</body>

</html>